div[data-role=page] {
    background: transparent url('http://placekitten.com/400/900') no-repeat !important;
/*    background: transparent url('http://src.sencha.io/http://placekitten.com/400/800') no-repeat !important;*/
}

.teaser {
    background: rgba(255,255,255,0.7);
    padding: 5px 15px;
    border-radius: 8px;
}